In [11]:
#Step1: Necessery imports
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

#Step1: Necessery imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import scipy as scipy
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from pandas import DataFrame
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score , mean_absolute_error


#Step2: Loading the data 
#Change the csv file for another brand
#Added Data types for memory optimization and faster loading
#add datatypes for clearance

data_cpu = pd.read_csv('data/cpu_bench_may_2021.csv')
data_gpu = pd.read_csv('data/vga_bench_may_2021.csv')
#add datasets for hdd
#add datasets for motherboard

In [ ]:
data_cpu.describe()

            count
count  100.000000
mean    57.094000
std     13.649907
min     39.100000
25%     45.175000
50%     54.450000
75%     66.900000
max     94.500000

In [13]:
data_gpu.describe()

           count     mark-neww  price-neww
count  50.000000     50.000000   50.000000
mean   32.500000   8408.700000  276.233800
std    12.544533   5501.531895  197.621388
min    18.200000   1758.000000   39.990000
25%    22.650000   3937.250000  132.490000
50%    27.950000   7364.500000  204.990000
75%    38.525000  12486.250000  354.742500
max    61.900000  20995.000000  819.990000